<div class="page-signup">
  <div class="signin-header">
    <section class="logo text-center">
      <%= link_to root_url do %>
          <%#= image_tag 'logo.png', class: 'img-responsive margin-auto' %>
      <% end %>
    </section>
  </div>
  <div class="main-body">
    <div class="container">
      <div class="form-container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <section>
              <h2 class="center">
                <%= "You successfully registered." %>
              </h2>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>